    <footer id="analise">
        <div class="row text-center">
            <h5 class="footer-title">A Análise</h5>
        </div>

        <div class="container">
            <p>
                Segundo dados da Federação Internacional de Diabetes, somente no Brasil estima-se que em torno de 16,8 milhões de pessoas são acometidas pela Diabetes, o que equivale a 7% da população nacional.  Portanto, o diagnóstico precoce é de extrema importância para que a doença seja detectada ainda no estágio em que ela seria silenciosa, e o indivíduo possa tratá-la e viver com mais qualidade de vida.
                Para o diagnóstico precoce, foi utilizado um motor de inteligência artificial previamente desenvolvido e treinado pelo professor Glauco Cardozo na linguagem Python, bem como tecnologias para a construção da páginas web e suporte ao modelo de inteligência artificial.
                Para fazer a análise, o usuário precisa preencher o formulário com as informações do hemograma. Após preencher o formulário, a página apresenta uma classificação de diagnóstico de diabetes com base no valor calculado de hemoglobina glicada. Este resultado apresenta assertividade de cerca de 70% e não deve ser tomado como final.
            </p>
        </div>
    </footer>
    </body>
</html>