    <nav class="navbar navbar-expand-lg navbar-light py-0">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/static/assets/logo.png" alt="logo" height="75px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smooth-link" link-destination="analise" href="#analise">A Análise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Realizar Análise</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        <div class="result-container">
            <div class="row">
                <div class="col-12 hemo-result">
                    Sua Hemoglobina Glicada resultou em: {{hemo_glic}}
                </div>
                <div class="col-12 text-center">
                    <p style="font-size: 16px; margin-bottom: 0px;"><b>Tabela de Valores:</b></p>
                    <table class="table table-bordered" id="table-result">
                        <thead>
                            <tr class="bg-dark text-white">
                                <th>Hemoglobina Glicada</th>
                                <th>Resultado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Menor ou igual a 5.7</td>
                                <td style="background-color: #9cd9a6;"><b>Saudável</b></td>
                            </tr>
                            <tr>
                                <td>Entre 5.7 e 6.5</td>
                                <td style="background-color: #fffab9;"><b>Pré-diabético</b></td>
                            </tr>
                            <tr>
                                <td>Maior do que 6.5</td>
                                <td style="background-color: #ff9ca6;"><b>Diabético</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="col-12">
                    <a href="/" class="btn btn-primary btn-lg">Início</a>
                </div>
            </div>
        </div>
    </main>