    <nav class="navbar navbar-expand-lg navbar-light py-0">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/static/assets/logo.png" alt="logo" height="75px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smooth-link" link-destination="quem_somos" href="#quem-somos">Quem Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smooth-link" link-destination="analise" href="#analise">A Análise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/consulta">Realizar Análise</a>
                    </li>
                </ul>
        </div>
        </div>
    </nav>

    <main class="container-fluid p-0 section-container">
        <div class="col-12">
            <div class="main-page-section" id="quem_somos">
                <div class="row text-center">
                    <h5 class="section-title">Quem somos</h5>
                </div>
        
                <div class="container">
                    <p>
                        Somos uma equipe formada por 7 alunos do curso de Gestão da Tecnologia da Informação do Instituto Federal de Santa Catarina - IFSC - Campus Florianópolis, orientada pelo professor Glauco Cardozo. A nossa equipe atua através da disciplina de Atividade de Extensão, aplicando o protagonismo discente, buscando resolver um problema e unir a comunidade em torno de um projeto conscientizador.
                        Como projeto da disciplina de Atividade de Extensão, desenvolvemos essa página web para que a sociedade possa ter um retorno de exames mais complexos de detecção de diabetes a partir de dados de exame de rotina.
                        Criar um sistema de diagnóstico surgiu da necessidade de tornar o conhecimento da saúde mais acessível e eficiente para todos. O uso eficaz da tecnologia da informação (TI) pode melhorar a obtenção de resultados dos pacientes.
                        O nosso objetivo é mostrar de forma prática e social o quão importante é conhecer determinadas informações e aplicá-las para manter a sinergia na relação do homem com  a saúde e  tecnologia e as disciplinas aprendidas no curso de Gestão da Tecnologia da Informação.                         
                    </p>
                </div>
            </div>
        </div>
    </main>