    <nav class="navbar navbar-expand-lg navbar-light py-0">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/static/assets/logo.png" alt="logo" height="75px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smooth-link" link-destination="quem_somos" href="#quem-somos">Quem Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smooth-link" link-destination="analise" href="#analise">A Análise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/consulta">Realizar Análise</a>
                    </li>
                </ul>
        </div>
        </div>
    </nav>

    <main class="container-fluid p-0 section-container">
        <div class="col-12">
            <div class="main-page-section" id="quem_somos">
                <div class="row text-center">
                    <h5 class="section-title">Quem somos</h5>
                </div>
        
                <div class="container">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel sodales neque, et volutpat metus. Nam fringilla nec nisi vel accumsan. In ornare dapibus convallis. Duis nec dictum risus. Phasellus quis cursus lectus, vel accumsan lorem. Mauris neque est, mattis vitae enim eget, mollis efficitur felis. Donec lacinia, arcu at luctus porttitor, nulla ante porta quam, ultrices porttitor massa justo a justo. Sed rhoncus maximus dolor, sit amet molestie lacus bibendum sed. Aenean at auctor lacus, vestibulum tristique diam. Nam eu urna urna. Aliquam suscipit vitae augue et pellentesque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at posuere sem. Praesent quis risus ullamcorper, imperdiet diam et, aliquet urna.

                        Etiam scelerisque porta leo in consequat. Nullam tempor varius nisl et malesuada. Etiam ut suscipit erat, non ornare diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed orci odio, fringilla euismod congue ut, vulputate id dui. Vivamus mi lacus, suscipit non tempor non, vulputate sit amet tellus. Proin elit neque, hendrerit in tellus vel, gravida aliquam odio.
                        
                        Nulla placerat lacinia justo sed consectetur. Aenean pharetra mauris dui, sed cursus urna interdum et. Aenean facilisis orci quis risus tristique, eget vehicula tortor luctus. Morbi eleifend nisl sed tortor molestie viverra. Mauris blandit condimentum orci eget sagittis. Vivamus sollicitudin vel leo pellentesque condimentum. Donec rhoncus turpis ornare elementum consequat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Ut ultricies porttitor nisl, a porttitor velit vulputate non. Ut ipsum dui, luctus at magna eu, ullamcorper consectetur sem. Phasellus auctor finibus varius. Mauris tortor felis, luctus vel leo nec, ultrices sollicitudin diam. In ipsum eros, laoreet non augue eget, rutrum pretium odio. Nullam laoreet orci vel dapibus cursus.
                        
                        Duis vitae ipsum lacus. Suspendisse eget consectetur nisl. Maecenas ornare venenatis erat, ac tempor neque ultrices quis. Sed mi ex, maximus sit amet magna non, lacinia commodo risus. Aenean tempus dui neque, quis maximus tortor sagittis ac. Quisque pulvinar arcu sed pulvinar lacinia. Suspendisse pharetra nec nibh ut tincidunt.
                        
                        Ut eu ultricies nibh. Donec hendrerit, augue eget imperdiet convallis, augue massa elementum diam, a scelerisque erat nunc non nisl. Donec et quam luctus, mattis lacus sed, eleifend tortor. Nunc congue suscipit tincidunt. Vestibulum non scelerisque urna. Nunc eget turpis nisl. Aenean efficitur risus eu dui auctor eleifend. Aenean molestie dolor lacus, ac suscipit nulla faucibus.
                    </p>
                </div>
            </div>
        </div>
    </main>